#addForm {
  margin: 5px 0 40px 0;
  width: 100%;
}
.formName {
  padding: 10px 0;
}
.formDate {
  padding: 10px 0;
}
.formButton {
  margin-top: 10px;
  padding: 5px 15px;
}
#addForm input {
  padding: 3px;
}
form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: center;
  }
}
